<!DOCTYPE HTML>
<html>
	<head>
		<title>Scala Editor</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="single is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
				<header id="header">
						<h1><a href="login.html">Scala Editor</a></h1>
						<nav class="links">
						   <ul>
						   	<li><a id="myprojects" href="signin.html">My Projects</a></li>
							  <li class="dropdown">
								 <a href="javascript:void(0)" class="dropbtn">My Account</a>
								 <div class="dropdown-content">
									<a href="signin.html">Sign In</a>
									<a href="signup.html">Sign Up</a>
								 </div>
							  </li>
						   </ul>
						</nav>
					 </header>

			<section>
				<form>
						<h2>Sign In</h2>
						<h7>username:<input type="text" name="username" /></h7><h10><span id="note1"></span><br /></h10>
						<h7>password:<input type="password" name="password" /></h7><h10><span id="note2"></span><br /></h10>
						<input type="button" value="sign in" onclick="login(this.form)" />
						<h10><p id="response"></p></h10>
					</form>
					<h7>Don't have an account? </h7>
					<h7><a href="signup.html">Sign Up</a></h7>
			</section>



			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
			<script>
				function id(id){
					return document.getElementById(id);
				}
				function login(form){
					if(form.username.value == ""){
						id("note1").textContent="please enter your username";
						form.username.focus();
						return;
					}
					else
						id("note1").textContent="";
					if(form.password.value == ""){
						id("note2").textContent="please enter your password";
						form.password.focus();
						return;
					}
					else
						id("note2").textContent="";
					

					var codeJSON = {"id" : form.username.value, "pw" : form.password.value};
					var codestring = JSON.stringify(codeJSON);
					var ajax=new XMLHttpRequest();
					ajax.open("POST", 'http://52.231.65.108:8080/signin', true);
					ajax.setRequestHeader('Access-Control-Allow-Origin', '*');
					ajax.setRequestHeader("Access-Control-Allow-Credentials", "true");
					ajax.setRequestHeader("Content-Type", "application/json");
					ajax.send(codestring);
					console.log(codestring);
					ajax.onreadystatechange = function(){
						var resultJSON = ajax.response;
						var result_obj = JSON.parse(resultJSON);
						var check = result_obj.success;
						if(check == 2){
							location.replace(`/login_success/${form.username.value}`);
						}
						else if(check == 1){
							id("response").textContent="wrong username or password";
							return;
						}
						else{
							id("response").textContent="...error";		
							return;
						}
					}
				}
			</script>

	</body>
</html>